.contenedorPadre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorItem {
    width: 30vw;
    height: 30vw;
    text-align: center;
    margin: 1rem;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    color: black;
}



.contenedorItem h2  {
    font-size: 22px;
}

.contenedorItem h3{
    font-size: 20px;
}

.detailImg {
    height: 21vw;
    width: 20vw;
    border-radius: 5%;
    transition: transform 0.3s ease;
}

.Count {
    padding-top: 10px;
    margin: 15px ;
}





.Terminar-Compra{
    display: flex;
    height: 3vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f9bc02;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:60px 0px 10px 0px;
}

.Terminar-Compra:hover{
    background-color: #ffc600;
    color: #333;
}

.Seguir-Comprando {
    display: flex;
    height: 3vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f9bc02;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    border-radius:10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Seguir-Comprando:hover{
    background-color: #ffc600;
    color: #333;
}

 

 @media screen and (max-width: 1024px) {

    .contenedorItem{
        width: 50vw;
        height: 50vw;

    }
    .detailImg {
        width: 40vw;
        height: 39vw;
        border-radius: 5%;
        transition: transform 0.3s ease;
    }


    .Terminar-Compra{
        height: 5vw;
        font-size: 24px;
    }

    .Seguir-Comprando{
        height: 5vw;
        font-size: 24px;
        margin-bottom:150px ;
    }
    
     

} 