.cardProducto {
    margin-top: 10px ;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 20vw;
    height: 22vw;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }


 .cardProducto:hover {
    transform: rotateY(20deg);
}

.cardTitulo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

 .cardProducto .precio {
    font-size: 20px;
    color: #555;
    font-weight: bold;
    text-align: left;
}  


.imgProducto {
    padding-top: 10px;
    width: 16vw;
    height: 15vw;
    object-fit: contain;
    border-radius: 15px;
}


.detalle {
    text-decoration: none;
    color: #f9bc02 ;
}

.detalle:hover{
    color: #7e6519;
}

@media screen and (max-width: 1024px){

   .cardProducto {
    width: 30vw;
    height: 30vw;
   }

    .cardTitulo {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }
    
     .cardProducto .precio {
        font-size: 22px;
        color: #555;
        font-weight: bold;
        text-align: left;
    }  
    
    
    .imgProducto {
        padding-top: 10px;
        width: 18vw;
        height: 17vw;
        object-fit: contain;
        border-radius: 15px;
    }

    .detalle {
        font-size: 20px;
    }
}